@keyframes shining {
    0% {
      box-shadow: 0 0 0 transparent;
    }
    50% {
      box-shadow: 0 0 10px #ffffff; /* Reducido */
    }
    100% {
      box-shadow: 0 0 0 transparent;
    }
  }
  
  @keyframes orbitSpecial {
    0% {
      border: 0;
      border-top: 0.5px solid rgb(255, 255, 255);
    }
    35% {
      border: 0;
      border-right: 0.5px solid rgb(255, 255, 255);
    }
    70% {
      border: 0;
      border-bottom: 0.5px solid rgb(255, 255, 255);
    }
    100% {
      border: 0;
      border-left: 0.5px solid rgb(255, 255, 255);
    }
  }
  
  @keyframes electronAnimation {
    0% {
      transform: rotateZ(0deg) translateX(22.5px) rotateZ(0deg) rotateY(-65deg); /* Ajustado */
    }
    100% {
      transform: rotateZ(360deg) translateX(22.5px) rotateZ(-360deg) rotateY(-65deg); /* Ajustado */
    }
  }
  
  /* body {
    text-align: center;
    background: rgba(0, 0, 0, 1);
  } */
  
  #atom {
    position: relative;
    width: 45px; /* Ajustado */
    height: 45px; /* Ajustado */
    display: inline-block;
    margin: 10px auto;
  }
  
  #nucleus,
  .orbit,
  .electron,
  .orbitTrain,
  .electronTrain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    margin: auto;
  }
  
  #nucleus {
    width: 4px; /* Ajustado */
    height: 4px; /* Ajustado */
    background: #ffffff;
    box-shadow: 0 0 5px #ffffff; /* Reducido */
    animation: shining 16s infinite linear;
  }
  
  .orbit:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  .orbit {
    width: 45px; /* Ajustado */
    height: 45px; /* Ajustado */
    border: 0;
    transform-style: preserve-3d;
    animation: orbitSpecial 8s infinite linear;
  }
  
  .orbit .electron {
    position: absolute;
    width: 10px; /* Ajustado */
    height: 10px; /* Ajustado */
    background: #ffffff;
    box-shadow: 0 0 5px #ffffff; /* Reducido */
    border-radius: 50%;
    transform: translateX(22.5px); /* Ajustado */
    animation: electronAnimation 8s infinite linear;
  }
  
  .orbit:nth-child(4) {
    transform: rotateY(65deg) rotateX(5deg);
    animation-delay: -2s;
  }
  
  .orbit:nth-child(4) .electron {
    animation-delay: -2s;
  }
  
  .orbit:nth-child(2) {
    transform: rotateY(65deg) rotateX(-54deg);
    animation-delay: -2s;
  }
  
  .orbit:nth-child(2) .electron {
    animation-duration: 8s;
  }
  
  .orbit:nth-child(3) {
    transform: rotateY(65deg) rotateX(54deg);
  }
  